 /* Tuesday background   */

 body {

 /* Pink Gingham plaid background */
   background-image:    -webkit-linear-gradient(top, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.5) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.5) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.5) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.5) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.5) 52%),
                        -webkit-linear-gradient(left, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.0) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.0) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.0) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.0) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.0) 52%);
   background-image:    -moz-linear-gradient(top, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.5) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.5) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.5) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.5) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.5) 52%),
                        -moz-linear-gradient(left, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.0) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.0) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.0) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.0) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.0) 52%);
   background-image:     -ms-linear-gradient(top, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.5) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.5) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.5) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.5) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.5) 52%),
                         -ms-linear-gradient(left, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.0) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.0) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.0) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.0) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.0) 52%);
   background-image:      -o-linear-gradient(top, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.5) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.5) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.5) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.5) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.5) 52%),
                          -o-linear-gradient(left, rgba(255,187,187,0.5) 10%, rgba(255,255,255,0.0) 12%, rgba(255,187,187,0.5) 13%,
                                                     rgba(255,187,187,0.5) 20%, rgba(255,255,255,0.0) 22%, rgba(255,187,187,0.5) 23%,
                                                     rgba(255,187,187,0.5) 30%, rgba(255,255,255,0.0) 32%, rgba(255,187,187,0.5) 33%,
                                                     rgba(255,187,187,0.5) 40%, rgba(255,255,255,0.0) 42%, rgba(255,187,187,0.5) 43%,
                                                     rgba(255,187,187,0.5) 50%, rgba(255,255,255,0.0) 52%);
   -webkit-background-size: 50px 50px;
   -moz-background-size:    50px 50px;
   background-size:         50px 50px;

	width: 900px;
	margin-left:auto;
	margin-right:auto;
	color: #622;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding: 5px;
}